html {
  text-align: center;
  font-family: Helvetica;
}

p {
  color: black;
  font-size: 14px;
}

h1 {
  color: white;
  font-weight: bold;
  font-size: 70px;
}
h3 {
  background-image:  url('../media/the-flatiron-building.png');
  font-weight: bold;
  font-size: 23px;
  color: white;
}
h4 {
  font-weight: bold;
  font-size: 23px;
  color: black;
}
#footer {
  font-size: 11px;
  color: white;
  background-color: dimgray;
  text-align: left;
}

nav
{
  background-image:  url('../media/the-flatiron-building.png');
}
a {
  color: white;
  font-size:18px;
}
